# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.


out
server
node_modules
*.vsix
.DS_Store
.vscode-test
undefined
target
dist
bin/
.settings
.classpath
.project
test/resources/projects/**/.vscode
test/resources/projects/maven/salut/testGradle
